*{
    font-family:['poppins'];
}
.main-bg{
    background-image: url(imgs/bg-img.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-main-box:hover .arrow{
    background-color: black;
    color: white;
    transition: 0.5s;
    
}
.sec-7{

    background-image: url(imgs/prc_bg.jpg);
    margin-top: 70px;
    width: 100%;
    height: 35vh;
    background-position: center;
    background-size: cover;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.accordion-content p {
    padding: 10px 0;
    font-size: 1rem;
}

.arrow {
    transition: transform 0.3s ease;
}

